@import url(composant/buttons.css);
@import url(composant/container.css);
@import url(composant/navBar.css);
@import url(composant/header.css);
@import url(composant/footer.css);
@import url(composant/subContainer.css);
@import url(composant/description.css);

*{
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    background-color: grey;
}

h1 {
    font-family: 'Righteous', cursive;
}

h2 {
    font-family: 'Righteous', cursive;
}

h3 {
    font-family: 'Righteous', cursive;
}

#ouraScreen{
    width: 75%;
}

@media (min-width:481px){
    h1{
        font: size 72px;
    }

    p{
        font-size: 20px;
    }

}






